---
layout: default
title: Gary Gigabytes
---

<div id="main">
    <!-- Description -->
    <p class="description">
        <em>Part study, part sandbox — from <a href="csumb.html">academic projects</a> in computer science to
            <a href="projects.html">weekend experiments</a> involving wires, code, and occasional smoke.</em>
    </p>

    <!-- Update List -->
    <h2>Recent Updates</h2>
    <ul class="fa-ul update-links" style="--fa-li-margin: 15px;">
        {% for post in site.posts limit:4 %}
        <li>
            <span class="fa-li"><i class="fas fa-arrow-right"></i></span>
            [{{ post.date | date: "%Y-%m-%d" }}] <a href="#{{ post.id }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>

    <hr>
    <br>

    <!-- Posts -->
    {% for post in site.posts %}
    <div class="post" id="{{ post.id }}">
        <h1>{{ post.title }}</h1>
        <p class="date">{{ post.date | date: "%B %d, %Y" }}</p>
        <p class="content">{{ post.content }}</p>
    </div>
    {% endfor %}
</div>