body {
  width: 95%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #141818;
  color: #fafafa;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

nav {
  display: flex;
  align-items: center;
  background-color: #141818;
  border-top: 1px solid #eff4f1;
  border-bottom: 1px solid #eff4f1;
  justify-content: center;
  position: sticky;
  top: 0pt;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #EFF4F1;
}

nav li a,
.dropbtn,
a:visited {
  text-align: center;
  /* Centers text inside each list item */
  color: #64d5d2;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.2em;
  margin: 0px;
  align-items: center;
}
nav li a.active {
  background-color: #2e4c5b;
}
nav li a:hover{
  background-color: #2e4c5b;
  transition: 0.4s;
}

nav li .dropdown {
  display: inline-block;
}

.logo img {
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 100%;
  justify-content: center;
}

/* Other existing styles */
#main {
  padding-top: 10px;
  width: 90%;
  min-height: 600px;
  margin: 0 auto;
  /* margin: 20px auto; Center the main content with margin */
}

#main h1 {
  font-size: 1.2em;
  font-weight: 650;
  color: #64d5d2;
}

#main h2 {
  margin-top: 0;
  color: #64d5d2;
  font-size: 1.1em;
  font-style: italic;
  font-weight: 550;
}

#main h3 {
  margin-top: 0;
  color: #64d5d2;
  font-size: 1.05em;
  font-style: italic;
  font-weight: 600;
}
#main p {
  line-height: 1.6;
  margin-bottom: 15px;
}

#main ul {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 30px;
}

#main ul li {
  margin-bottom: 10px;
}

#main a, #main
a:visited {
  color: #64d5d2;
  text-decoration: none;
}

#main a:hover {
  color: #64d5d2;
  text-decoration: underline;
  transition: 0.5s;
}

.description {
  margin-bottom: 0.2em;
}

.post {
  border-left: 4px solid #64d5d2;
  margin-bottom: 40px;
  background-color: #1a1e1e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.post:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.post h1 {
  margin-top: 0;
  font-size: 1.2em;
  color: #64d5d2;  
  margin-bottom: 0.2em;
}

.post h2 {
  margin-top: 0;
  color: #64d5d2;
  font-size: 1.1em;
  font-style: italic;
  font-weight: 600;
}

.post .date {
  color: #aaa;
  font-size: 0.9em;
  margin-top: 0px;
  margin-bottom: 0.2em;
  font-style: italic;
}

.post .content {
  padding-left: 20px;
  line-height: 1.6;
}

.post .content ul {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
}

/* Footer styles */
footer {
  font-size: 0.8em;
  text-align: center;
  padding: 10px;
}

/* Style the icons */
.social-icons a {
  color: #f5f5f5;  
  margin: 0 10px;
  text-decoration: none;
  font-size: 1.5em;
  display: inline-block;
  transition: color 0.3s ease;
}

/* Hover effect */
.social-icons a:hover {
  color: #64d5d2;
  
}

/* Add a media query for small screens */
@media screen and (max-width: 600px) {
  nav ul {
    flex-direction: column;
    /* Change the direction of the list items */
  }

  nav li {
    width: 100%;
  }

  nav li a {
    padding: 10px;
    /* Smaller padding */
  }

  nav li .dropdown {
    display: block;
    /* Display the dropdown */
  }

  .dropdown-content {
    display: none;
    /* Hide the dropdown content */
  }
}

.headshot {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 0px solid #64d5d2;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}