<div class="navbar" id="myNavbar">
  <div class="icon" onclick="toggleNavbar()">
    <i class="fa fa-bars"></i>
  </div>
  <div class="nav-links">
    <a href="/index.html" class="{% if page.url == '/' %}active{% endif %}">Home</a>
    <a href="/projects.html" class="{% if page.url == '/projects.html' %}active{% endif %}">Hobby</a>
    <a href="/csumb.html" class="{% if page.url == '/csumb.html' %}active{% endif %}">Academics</a>
    <a href="/about.html" class="{% if page.url == '/about.html' %}active{% endif %}">About</a>
  </div>
</div>