---
layout: default
---
<div class ="post-page">
<!-- Post Title -->
<h2 class="post-title">{{ page.title }}</h2>

<!-- Post Metadata -->
<p class="post-date">
    Published on {{ page.date | date: "%B %d, %Y" }}
    
</p>

{% if page.tags %}
<div class="post-tags">
    {% for tag in page.tags %}
        {% assign custom_url = site.data.tag_links[tag] %}
        {% if custom_url %}
            <a class="tag" href="{{ custom_url }}">#{{ tag }}</a>
        {% else %}
            <a class="tag" href="/tags/{{ tag | slugify }}/">#{{ tag }}</a>
        {% endif %}
    {% endfor %}
</div>
{% endif %}

<!-- Post Content -->
<div class="post-content">
    {{ content }}
</div>

</div>