---
layout: default
---

<h1 class="heading">{{ page.title }}</h1>

<!-- Project Image -->
{% if page.image %}
<div class="image-container">
    <img src="{{ page.image }}" alt="Project Image" class="project-image" />
</div>
{% endif %}



<!-- Project Overview -->

<ul style="list-style-type: none">
    <li>
        <strong>Overview:</strong> {{ page.description }}
    </li>
    <li>
        <strong>Status:</strong> {{ page.status | default: "Not specified" }}
    </li>
    <li>
        <strong>Objective</strong> {{ page.objective | default: "Not specified" }}
    </li>
</ul>

<!-- Updates Section -->
{% assign project_posts = site.posts | where: "tags", page.project-tag %} {% if
project_posts.size > 0 %}
<h2>Updates</h2>
<ul class="fa-ul update-links" style="--fa-li-margin: 30px">
    {% for post in project_posts %}
    <li>
        <span class="fa-li"><i class="fas fa-arrow-right"></i></span>
        [{{ post.date | date: "%Y-%m-%d" }}]
        <a href="#{{ post.id }}">{{ post.title }}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}
<hr>
<!-- Posts -->
{% assign filtered_posts = site.posts | where: "tags", page.project-tag %}
{% if filtered_posts.size > 0 %}
    {% for post in filtered_posts %}
    <div class="post" id="{{ post.id }}">
        <h2>{{ post.title }}</h2>
        <p class="date">{{ post.date | date: "%B %d, %Y" }}</p>
        <p class="content">{{ post.content }}</p>
        <p><a href="#top" class="back-to-top">Back to Top</a></p>
    </div>
    {% endfor %}
{% else %}
    <p> ...</p>
{% endif %}