---
layout: default
---

<div class="mt-20">
    <h1 class="pop-heading section-header text-left">Posts Tagged: #{{ page.tag }}</h1>
</div>

<div class="post-page">
    <div class="post-content">
        <ul class="update-feed post-list">
            {% for post in site.tags[page.tag] %}
            {% include post.html post=post type="excerpt" %}
            {% endfor %}
        </ul>
    </div>
</div>

<div class="text-center mt-40 mb-40">
    <a href="/archives/" class="archive-btn"><i class="fas fa-arrow-left"></i> Back to Archives</a>
</div>